[Unit]
Description=TCP radio control daemon

[Service]
ExecStart=/usr/bin/rigctld --port 4534 -m 1
ExecStartPost=/bin/sleep 1
ExecStartPost=/usr/bin/rigctl -m 2 -r localhost:4534 F 2400040000
ExecStartPost=/usr/bin/rigctl -m 2 -r localhost:4534 M USB 3000

[Install]
WantedBy=default.target
