[alias]
	br = branch
	branches = branch
	ci = commit -v
	cia = commit -v --amend
	co = checkout
	commit = commit -v
	c-p = cherry-pick
	cdi = !GIT_EXTERNAL_DIFF=git-context-diff git diff
	di = diff
	pull = pull --stat
	#st = !git --no-pager status
	st = status
	sti = status --ignored
	tags = tag
	wd = diff --color-words
	wdiff = diff --color-words

[color]
	ui = auto

[core]
	pager = smart-less

[merge]
	defaultToUpstream = true

[user]
	name = Christoph Berg
	email = myon@debian.org
	#email = christoph.berg@credativ.de

[push]
	#default = simple
	default = current

[gitreview]
	username = myon
