[alias]
	au = add -u
	br = branch
	branches = branch
	ci = commit -v
	cia = commit -v --amend
	co = checkout
	commit = commit -v
	cp = cherry-pick
	cpc = cherry-pick --continue
	cdi = !GIT_EXTERNAL_DIFF=git-context-diff git diff
	di = diff
	dih = diff HEAD
	pull = pull --stat
	rb = rebase
	rbc = rebase --continue
	#st = !git --no-pager status
	st = status
	sti = status --ignored
	tags = tag
	wd = diff --color-words
	wdiff = diff --color-words

[color]
	ui = auto

[core]
	pager = smart-less

[merge]
	defaultToUpstream = true

[merge "dpkg-mergechangelogs"]
	name = debian/changelog merge driver
	driver = dpkg-mergechangelogs -m %O %A %B %A

[user]
	name = Christoph Berg
	email = myon@debian.org
	signingKey = 5C48FE6157F49179597087C64C5A6BAB12D2A7AE
	#email = christoph.berg@credativ.de

[push]
	#default = simple
	default = current

[gitreview]
	username = myon
