[alias]
	br = branch
	branches = branch
	ci = commit -v
	co = checkout
	commit = commit -v
	di = diff
	pull = pull --stat
	#st = !git --no-pager status
	st = status
	tags = tag
	wd = diff --color-words
	wdiff = diff --color-words

[color]
	ui = auto

[core]
	pager = smart-less

[merge]
	defaultToUpstream = true

[user]
	email = myon@debian.org

[push]
	default = current
