# Eight bit compatible: Umlaute
set input-meta on
set output-meta on
set convert-meta off
# Mode
set editing-mode vi
set keymap vi-insert
set bell-style visible
# Completion
set completion-ignore-case off
set completion-query-items 200
set expand-tilde off
#set history-preserve-point on
set match-hidden-files off
set mark-directories on
set mark-symlinked-directories on
set page-completions off
set show-all-if-ambiguous off
set visible-stats on

$if Bash
	"\eOP": "%1\n"
	"\eOQ": "%2\n"
	"\eOR": "%3\n"
	"\eOS": "%4\n"
	"\e[15~": "%5\n"
	"\e[17~": "%6\n"
	"\e[18~": "%7\n"
	"\e[19~": "%8\n"
	"\e[20~": "%9\n"
	"\e[21~": "%10\n"
	"\e[23~": "%11\n"
	"\e[24~": "%12\n"
$endif


## VI line editing
#$if mode=vi
#set editing-mode vi
#set keymap vi
#$endif
##
## Common standard keypad and cursor
#"\e[2~":	yank
#"\e[3~":	delete-char
#"\e[5~":	previous-history
#"\e[6~":	next-history
#"\e[C":		forward-char
#"\e[D":		backward-char
#"\e[A":		previous-history
#"\e[B":		next-history
#$if term=xterm
#"\e[E":		re-read-init-file
#$else
#"\e[G":		re-read-init-file
#$endif
##
## Avoid network problems
##   ... \177 (ASCII-DEL) and \010 (ASCII-BS)
##       do `backward-delete-char'
## Note: `delete-char' is maped to \033[3~
##       Therefore xterm's responce on pressing
##       key Delete or KP-Delete should be
##       \033[3~ ... NOT \177
##
##$if term=xterm
##"\C-?":		delete-char
##$else
#"\C-?":		backward-delete-char
##$endif
#"\C-H":		backward-delete-char
##
## Home and End
##
#$if term=xterm
##
## Normal keypad and cursor of xterm
##
#"\e[1~":	history-search-backward
#"\e[4~":	set-mark
#"\e[H":		beginning-of-line
#"\e[F":		end-of-line
## Home and End of application keypad and cursor of xterm
#"\eOH":		beginning-of-line
#"\eOF":		end-of-line
#$else
##
## TERM=linux or console
##
#"\e[1~":	beginning-of-line
#"\e[4~":	end-of-line
#$endif
##
## Application keypad and cursor of xterm
##
#$if term=xterm
#"\eOD":         backward-char
#"\eOC":         forward-char
#"\eOA":         previous-history
#"\eOB":         next-history
#"\eOE":         re-read-init-file
## DEC keyboard KP_F1 - KP_F4
#"\eOP":		prefix-meta
#"\eOQ":		undo
#"\eOR":		""  
#"\eOS":		kill-line
#$endif
##
## Function keys F1 - F12
##
#$if term=linux
##
## On console the first five function keys
##
#"\e[[A":	""
#"\e[[B":	""
#"\e[[C":	""
#"\e[[D":	""
#"\e[[E":	""
#$else
##
## The first five standard function keys
##
#"\e[11~":	""
#"\e[12~":	""
#"\e[13~":	""
#"\e[14~":	""
#"\e[15~":	""
#$endif
#"\e[17~":	""
#"\e[18~":	""
#"\e[19~":	""
#"\e[20~":	""
#"\e[21~":	""
## Note: F11, F12 are identical with Shift_F1 and Shift_F2
#"\e[23~":	""
#"\e[24~":	""
##
## Shift Function keys F1  - F12
##      identical with F11 - F22
##
##"\e[23~":	""
##"\e[24~":	""
#"\e[25~":	""
#"\e[26~":	""
## DEC keyboard: F15=\e[28~ is Help
#"\e[28~":	""
## DEC keyboard: F16=\e[29~ is Menu
#"\e[29~":	""
#"\e[31~":	""
#"\e[32~":	""
#"\e[33~":	""
#"\e[34~":	""
#$if term=xterm
## Not common
#"\e[35~":	""
#"\e[36~":	""
#$endif
##
#$if term=xterm
##
## Application keypad and cursor of xterm
## with NumLock ON
##
## Operators
#"\eOo":		"/"
#"\eOj":		"*"
#"\eOm":		"-"
#"\eOk":		"+"
#"\eOl":		"+"
#"\eOM":		accept-line
## Colon and dot
## "\eOl":		","
#"\eOn":		"."
## Numbers
#"\eOp":		"0"
#"\eOq":		"1"
#"\eOr":		"2"
#"\eOs":		"3"
#"\eOt":		"4"
#"\eOu":		"5"
#"\eOv":		"6"
#"\eOw":		"7"
#"\eOx":		"8"
#"\eOy":		"9"
#$endif
##
##  EMACS line editing
##
#$if mode=emacs
##
## ... xterm application cursor
##
#$if term=xterm
#"\e\eOD":	backward-word
#"\e\eOC":	forward-word
#"\e\eOA":	up-history
#"\e\eOB":	down-history
#"\C-\eOD":	backward-char
#"\C-\eOC":	forward-char
#"\C-\eOA":	up-history
#"\C-\eOB":	down-history
#$endif
##
## Standard cursor
##
#"\e\e[D":	backward-word
#"\e\e[C":	forward-word
#"\e\e[A":	up-history
#"\e\e[B":	down-history
#"\C-\e[D":	backward-char
#"\C-\e[C":	forward-char
#"\C-\e[A":	up-history
#"\C-\e[B":	down-history
#$endif
##
## end
##
