# Eight bit compatible: Umlaute
set input-meta on
set output-meta on
set convert-meta off
# Mode
set editing-mode vi
set keymap vi-insert
set bell-style visible
set enable-bracketed-paste off
# Completion
set completion-ignore-case off
set completion-query-items 200
set expand-tilde off
#set history-preserve-point on
set match-hidden-files off
set mark-directories on
set mark-symlinked-directories on
set page-completions off
set show-all-if-ambiguous off
set visible-stats on

$if Bash
	"\eOP": "%1\n"
	"\eOQ": "%2\n"
	"\eOR": "%3\n"
	"\eOS": "%4\n"
	"\e[15~": "%5\n"
	"\e[17~": "%6\n"
	"\e[18~": "%7\n"
	"\e[19~": "%8\n"
	"\e[20~": "%9\n"
	"\e[21~": "%10\n"
	"\e[23~": "%11\n"
	"\e[24~": "%12\n"
$endif

$if psql
  "\e[11~": "SELECT * FROM "
  "\e[12~": "EXPLAIN (ANALYZE, BUFFERS, VERBOSE) "
$endif
